/* ==================== Common Styles ==================== */

* {
  box-sizing: border-box;
}

body {
  margin: 16px;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  transition: background-color 0.5s ease;
  color: #212121;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

button {
  color: currentColor;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
}

input {
  font-family: inherit;
}

/* =================== /Common Styles ==================== */

/* ==================== Task-1 Styles ==================== */

#categories {
  display: flex;
  flex-direction: column;
  max-width: 440px;
  padding: 24px;
  gap: 24px;
}

#categories .item {
  display: flex;
  flex-direction: column;
  background-color: #f6f6fe;
  padding: 16px;
}

#categories .item h2 {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: #2e2f42;
  padding-bottom: 16px;
}

#categories .item ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

#categories .item li {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  border: 1px solid #808080;
  border-radius: 4px;
  padding: 8px 16px;
}

/* =================== /Task-1 ==================== */

/* ==================== Task-2 ==================== */

.gallery {
  display: flex;
  max-width: 1128px;
  flex-wrap: wrap;
  gap: 48px 24px;
  margin: 0 auto;
}

.gallery-item {
  width: calc((100% - 24px * 2) / 3);
  height: 300px;
}

.gallery img {
  object-fit: cover;
  height: 100%;
}

/* =================== /Task-2 ==================== */

/* ==================== Task-3 ==================== */

#name-input {
  border: 1px solid #808080;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 4px;
  width: 360px;
  height: 40px;
  outline: transparent;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  padding: 8px 16px;
  margin-bottom: 16px;
}

#name-input:hover {
  border: 1px solid #000;
}

#name-input + h1 {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

/* =================== /Task-3 ==================== */

/* ==================== Task-4 ==================== */

.login-form {
  display: flex;
  flex-direction: column;
  max-width: 360px;
  gap: 8px;
}

.login-form label {
  display: flex;
  flex-direction: column;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  gap: 8px;
}

.login-form label + label {
  margin-bottom: 8px;
}

.login-form label input {
  border: 1px solid #808080;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 4px;
  width: 360px;
  height: 40px;
  outline: transparent;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  padding: 8px 16px;
}

.login-form label input:hover {
  border: 1px solid #000;
}

.login-form button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  width: 86px;
  height: 40px;
  background-color: #4e75ff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.login-form button:hover,
.login-form button:focus,
.login-form button:active {
  background-color: #6c8cff;
}

/* =================== /Task-4 ==================== */

/* ==================== Task-5 ==================== */

.widget {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.widget p {
  background-color: #fff;
  border-radius: 4px;
  padding: 4px;
}

.widget .color {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.widget .change-color {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  min-width: 148px;
  height: 40px;
  background-color: #4e75ff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.widget .change-color:hover,
.widget .change-color:focus,
.widget .change-color:active {
  background-color: #6c8cff;
}

/* =================== /Task-5 ==================== */

/* ==================== Task-6 ==================== */
#controls {
  display: flex;
  gap: 16px;
  border-radius: 8px;
  padding: 32px;
  width: 486px;
  background-color: #f6f6fe;
  margin-bottom: 16px;
}

#controls input {
  outline: transparent;
  border: 1px solid #808080;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 8px;
  padding: 8px;
  width: 150px;
  height: 40px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  text-align: center;
}

#controls input:hover {
  border: 1px solid #000;
}

#controls button[data-create] {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  min-width: 120px;
  height: 40px;
  background-color: #4e75ff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

#controls button[data-create]:hover,
#controls button[data-create]:focus,
#controls button[data-create]:active {
  background-color: #6c8cff;
}

#controls button[data-destroy] {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  min-width: 120px;
  height: 40px;
  background-color: #ff4e4e;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

#controls button[data-destroy]:hover,
#controls button[data-destroy]:focus,
#controls button[data-destroy]:active {
  background-color: #ff7070;
}

#boxes {
  display: flex;
  gap: 44px;
  flex-wrap: wrap;
  border-radius: 8px;
  padding: 32px;
  background-color: #f6f6fe;
  width: fit-content;
}
/* =================== /Task-6 ==================== */
